.aboutMeContainer{
    height:100vh;
    background-color: #4D4C4C;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.circlePic {
    height:256px;
    width:256px;
}

.iAm {
    font-size:64px;
    color:white;
    text-shadow: 0px 10px 6px #00000077;
}

.description {
    color: white;
    font-size: 20px;
}