.workContainer {
    min-height: 30vh;
    background-color: #4D4C4C;   
    text-align:center;
    font-family: 'Raleway', sans-serif;
}

.work {
    color:white;
    font-size: 64px;
    text-shadow: 0px 10px 6px #00000077;
    margin: 0 auto;
    text-align:center;
    margin-bottom:1em;
}

.svgs{
    height:64px;
    width:64px;
}

.svgs:hover{
    transform: scale(1.2);
}

.test{
    height:64px;
    width:64px;
    fill:#61DBFB;
}

.test:hover{
    transform: scale(1.2);
}

.svgDiv{
    display:flex;
    justify-content: space-around;
}